
---
- hosts: all
  become: yes
  tasks:
    - name: Include CloudHelper
      include_role:
        name: insight_infra.cloud_helper
      vars:
        enable_cloud_wait: true
        enable_jq: true
    - name: Run volumes playbook
      include_role:
        name: volumes
      when: instance_store_enabled | default(false) | bool
    - name: Run OS hardening playbook
      include_role:
        name: dev-sec.os-hardening
      when: ansible_hardening | default(false) | bool
    - name: Run SSH hardening playbook
      include_role:
        name: dev-sec.ssh-hardening
      when: ansible_hardening | default(false) | bool
    - name: Install Consul
      include_role:
        name: brianshumate.consul
      vars:
        consul_group_name: "all"
        consul_version: 1.7.2
        consul_encrypt_enable: false
        consul_config_custom:
          retry_join:
            - "{{ retry_join_string }}"
      when: consul_enabled|bool
    - name: Run Consul Cleanup playbook
      include_role:
        name: consul-cleanup
      when: consul_enabled|bool
    - name: Install Polkadot Base
      include_role:
        name: insight_w3f.polkadot_base
      vars:
        prometheus_port: "{{ item.value['polkadot_prometheus'] }}"
        api_rpc_port: "{{ item.value['json_rpc'] }}"
        api_wss_port: "{{ item.value['ws_rpc'] }}"
        health_check_port: "{{ item.value['api_health'] }}"
        chain: "{{ item.value['name'] }}"
      loop: "{{ network_settings | from_json | dict2items }}"
    - name: Install Polkadot Library
      include_role:
        name: insight_w3f.polkadot_library
      vars:
        prometheus_port: "{{ item.value['polkadot_prometheus'] }}"
        api_rpc_port: "{{ item.value['json_rpc'] }}"
        api_wss_port: "{{ item.value['ws_rpc'] }}"
        chain_stub: "{{ item.value['shortname'] }}"
        chain: "{{ item.value['name'] }}"
        project: "{{ item.value['name'] }}"
      loop: "{{ network_settings | from_json | dict2items }}"